\-- Phase 16: Multi-Entity Support
ALTER TABLE projects_master ADD COLUMN IF NOT EXISTS \ENTITY_CODE\ text DEFAULT 'MCE-AD';
ALTER TABLE projects_master ADD COLUMN IF NOT EXISTS \PROJECT_CATEGORY\ text; -- 'High Rise', 'Hospital', 'Infrastructure'

-- Phase 18: Executive Flash Reports Log
CREATE TABLE IF NOT EXISTS flash_reports (
    id uuid PRIMARY KEY DEFAULT uuid_generate_v4(),
    title text NOT NULL,
    summary text NOT NULL,
    generated_at timestamptz DEFAULT now(),
    metrics jsonb,
    is_sent boolean DEFAULT false
);

-- Phase 20: Simulation Scenarios
CREATE TABLE IF NOT EXISTS portfolio_simulations (
    id uuid PRIMARY KEY DEFAULT uuid_generate_v4(),
    scenario_name text NOT NULL,
    potential_revenue numeric(18,2),
    probability_adjustments jsonb,
    created_at timestamptz DEFAULT now()
);

-- Enable RLS & Realtime
ALTER TABLE flash_reports ENABLE ROW LEVEL SECURITY;
ALTER TABLE portfolio_simulations ENABLE ROW LEVEL SECURITY;
CREATE POLICY \Public
Read
Flash\ ON flash_reports FOR SELECT USING (true);
CREATE POLICY \Public
Read
Sim\ ON portfolio_simulations FOR SELECT USING (true);
ALTER PUBLICATION supabase_realtime ADD TABLE flash_reports, portfolio_simulations;\
